{% extends 'base.html' %}

{% block content %}

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .table-data {
        font-family: 'Barlow Semi Condensed', sans-serif;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border-collapse: collapse;
        border: 3px solid #ddd;
        font-size: 15px;
        text-align: center;
        background-color: #fff;
        color: #000;
    }
</style>

<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Export Table</title>
</head>
<body>
    <div class="overflow-x-auto">
        <table class="table">
        <!-- head -->
        <thead>
            <tr>
                {% for field in fields_table %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for field, value in row.items %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>
</html>

{% endblock %}
