<style>
    body {
        padding-top: 110px;
    }

    .navbar {
        width: 100%;
        height: 110px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px;
        right: 0;
        background-color: #002C1D;
        border-bottom: #F5F5DC solid 5px;
    }

    .navbar-brand {
        font-family: Riesling;
        font-size: 90px;
        font-weight: 400;
        color: #F5F5DC;
        word-wrap: break-word;
        margin-left: 25px;
        text-decoration: none;
    }

    .nav-right {
        font-family: 'Barlow Semi Condensed', sans-serif;
        position: fixed;
        display: flex;
        right: 0;
        top: 20px;
        margin-right: 25px;
        list-style: none;
    }

    .log-auths {
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: #FFFDD1;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        /* padding: 9px; */
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-top: 9px;
        height: 40px;
    }

    .nav-link {
        color: #282828;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-us {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        background-color: #FFFDD1;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 50px;
        padding: 9px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        width: 110px;
        height: 15px;
        line-height: 11px;
    }

    .search-box {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        background-color: #FFFDD1;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        padding: 9px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        width: 300px;
        height: 15px;
        line-height: 11px;
    }

    .search-div {
        position: center;
        text-align: center;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .search-select {
        font-family: 'Barlow Semi Condensed', sans-serif;
        width: 200px;
        background-color: #FFFDD1;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
    }

    .submit-btn {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        background-color: #FFFDD1;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        width: 90px;
        height: 25px;
        line-height: 11px;
    }

    .nav-text {
        font-family: Riesling;
        font-size: 22px;
        font-weight: 50;
        color: #F5F5DC;
        word-wrap: break-word;
        margin-left: 23px;
        text-decoration: none;
    }
    .nav-small {
        font-family: Riesling;
        font-size: 16px;
        font-weight: 35;
        color: #F5F5DC;
        word-wrap: break-word;
        margin-left: 15px;
        text-decoration: none;
    }


</style>


<nav class="navbar navbar-expand-lg navbar-dark">
    <a class ="navbar-brand" href="{% url 'hotel:index' %}">Hotel</a>

    <ul class="nav-right">
        <li>
        <form action="{% url 'hotel:index' %}" method="post">
            {% csrf_token %}
            <td>
               <label class="nav-text" for="search">Search:</label>
                <select class="search-select" id="search" name="search">
                    {% for option in options %}
                        <option value="{{ option }}" {% if option == search %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
               <label class="nav-text" for="order_by">Sort_Column:</label>
                <select class="search-select" id="order_by" name="order_by">
                    {% for field in fields %}
                        <option value="{{ field }}" {% if field == order_by %}selected{% endif %}>{{ field }}</option>
                    {% endfor %}
                </select>
               <label class="nav-text" for="selected">Order:</label>
                <select class="search-select" id="selected" name="selected">
                    <option value="LOW->HIGH" {% if 'LOW->HIGH' == selected %}selected{% endif %}>LOW->HIGH</option>
                    <option value="HIGH->LOW" {% if 'HIGH->LOW' == selected %}selected{% endif %}>HIGH->LOW</option>
                </select>
            </td>
        <br>
            <label class="nav-text">show column</label>
            {% for field in fields %}
                <label class="nav-small">{{ field }}:
                <input type="checkbox" name="fields" value="{{ field }}" {% if field in selected_fields %}checked{% endif %}>
                </label>
            {% endfor %}
            <td><input class="submit-btn" type="submit" value="Search"></td>
        </form>
        </li>

    </ul>
</nav>
<div class="search-div">
    <form method="get" action="{% url 'hotel:index' %}">
        <input class="search-box" type="text" id="search" name="search" placeholder="Search" value="{{ search_cocktail }}">
    </form>
</div>
