<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: #fff;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 110px;
        background-color: #fff ;
    }

    .navbar-brand {
        font-family: Riesling;
        font-size: 80px;
        font-weight: 400;
        color: #bc8547;
        word-wrap: break-word;
        margin-left: 25px;
        text-decoration: none;
    }

    .nav-right {
        color: #000000;
        display: flex;
        margin-right: 2rem;
        list-style: none;
        gap: 1rem;
    }

    .log-auths, .about-us, .search-box, .search-select {
        background-color: #fff ;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        font-size: 15px;
        font-weight: 600;
        color: #000000;
        word-wrap: break-word;
        padding: 9px;
        margin-top: 5.5px;
        width: auto;
        line-height: 11px;
    }

    .search-select {
        width: 200px;
    }

    .search-div {
        text-align: center;
        background-color: #fff ;
        margin: 0 auto;
        width: 100%;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .nav-text, .nav-small {
        color: #000000;
        font-family: Riesling;
        word-wrap: break-word;
    }

    .nav-text {
        font-size: 22px;
        margin-left: 23px;
        text-decoration: none;
    }

    .nav-small {
        font-size: 16px;
        margin-left: 15px;
        text-decoration: none;
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'hotel:index' %}">Hotel</a>
    <form class="nav-right" action="{% url 'hotel:index' %}" method="post">
        {% csrf_token %}
        <li>
            <select class="select select-ghost w-full max-w-xs" id="search" name="search">
                <option disabled selected>SEARCH</option>
                {% for option in options %}
                    <option class="about-us" value="{{ option }}" {% if option == search %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <select class="select select-ghost w-full max-w-xs" id="order_by" name="order_by">
                <option disabled selected>SORT BY</option>
                {% for field in fields %}
                    <option value="{{ field }}" {% if field == order_by %}selected{% endif %}>{{ field }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <select class="select select-ghost w-full max-w-xs" id="selected" name="selected">
                <option disabled selected>ORDER</option>
                <option value="LOW->HIGH" {% if 'LOW->HIGH' == selected %}selected{% endif %}>LOW->HIGH</option>
                <option value="HIGH->LOW" {% if 'HIGH->LOW' == selected %}selected{% endif %}>HIGH->LOW</option>
            </select>
        </li>
        <td><input class="btn btn-outline" type="submit" value="Search"></td>
    </form>
</nav>

<div class="search-div">
    <label class="nav-text">SHOW COLUMN</label>
    {% for field in fields %}
        <label class="nav-small">{{ field }}:
            <input class="checkbox" type="checkbox" name="fields" value="{{ field }}" {% if field in selected_fields %}checked{% endif %}>
        </label>
    {% endfor %}
    <form method="get" action="{% url 'hotel:index' %}">
        <input class="input input-bordered w-full max-w-xs" type="text" id="search" name="search" placeholder="Search" value="{{ search_cocktail }}">
    </form>
</div>
